#tips{style: 'margin-top: 50px;'}
  .container
    .row
      .col-xs-12.text-center
        %h1 Tips
  #talleres.listados
    -#first tip
    %a.item{:href => "http://lionessmagazine.com/5-quick-strategies-to-help-entrepreneurs-shift-from-hobbyists-to-business-owners/", :title => "How to Transition from Hobbyist to Business Owner", target: 'blank'}
      .tapita{:style => " background-image:url('http://lionessmagazine.com/wp-content/uploads/2015/05/hobby.jpg')"}
        %h4.white 5 Quick Strategies To Help Entrepreneurs Shift From Hobbyists To Business Owners
      %img{:alt => "How to Transition from Hobbyist to Business Owner", :src => "http://lionessmagazine.com/wp-content/uploads/2015/05/hobby.jpg"}/
      #info
        #titulo 5 Quick Strategies To Help Entrepreneurs Shift From Hobbyists To Business Owners
        #resumen Making money from your hobby is not synonymous with having a business. Unfortunately, far too many people don’t understand that...
    -#Second tip
    %a.item{:href => "http://www.creativebloq.com/mobile/25-web-development-tips-boost-your-skills-10126001", :title => "5 web development tips to boost your skills", target: 'blank'}
      .tapita{:style => " background-image:url('http://media.creativebloq.futurecdn.net/sites/creativebloq.com/files/images/2012/10/gitlab.jpg')"}
        %h4.white 25 web development tips to boost your skills
      %img{:alt => "5 web development tips to boost your skills", :src => "http://media.creativebloq.futurecdn.net/sites/creativebloq.com/files/images/2012/10/gitlab.jpg"}/
      #info
        #titulo 25 web development tips to boost your skills
        #resumen Professional developers share tips and tricks from an accumulated century of hard won experience
    -#thirth tip
    %a.item{:href => "http://smallbusiness.chron.com/team-leading-35635.html", :title => "How to Get to Know the Team You Are Leading", target: 'blank'}
      .tapita{:style => " background-image:url('http://undercdn.under30media.netdna-cdn.com/wp-content/uploads/2013/04/Overcome-Obstacles-to-Be-A-Business-Leader.jpg?f7e559')"}
        %h4.white How to Get to Know the Team You Are Leading
      %img{:alt => "How to Get to Know the Team You Are Leading", :src => "http://undercdn.under30media.netdna-cdn.com/wp-content/uploads/2013/04/Overcome-Obstacles-to-Be-A-Business-Leader.jpg?f7e559"}/
      #info
        #titulo How to Get to Know the Team You Are Leading
        #resumen A team leader’s ability to manage his team and make certain that projects are completed on time requires...
    -#fourth tip
    %a.item{:href => "http://www.sitepoint.com/8-essential-skills-developers-can-learn-in-a-weekend/", :title => "8 Essential Skills Developers Can Learn in a Weekend", target: 'blank'}
      .tapita{:style => " background-image:url('http://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2014/07/1406858208terminal.png')"}
        %h4.white 8 Essential Skills Developers Can Learn in a Weekend
      %img{:alt => "8 Essential Skills Developers Can Learn in a Weekend", :src => "http://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2014/07/1406858208terminal.png"}/
      #info
        #titulo 8 Essential Skills Developers Can Learn in a Weekend
        #resumen Comprende el proceso global de marketing y publicidad para poder gestionar la promocion de tu emprendimiento